/FileWritingFilter/nbproject/private/
/FilterConfigDemo/nbproject/private/
/FilterConfigDemo/build/
/ListenerDemo/nbproject/private/
/ListenerDemo/build/
/ServletContextDemo/nbproject/private/
/ServletContextDemo/build/
/JSPDemo/nbproject/private/
/JSPDemo/build/
/ExpressionLangDemo/nbproject/private/
/ExpressionLangDemo/build/
/UsingTaglib/nbproject/private/
/UsingTaglib/build/
/DAO_Pattern/nbproject/private/
/Singleton/nbproject/private/
/Singleton/build/
/FactoryDesignPattern/nbproject/private/
/MVCPattern/nbproject/private/
/MVCPattern/build/